<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css.css">
	<title>Lista de contatos</title>
</head>
<body>
	<header>
		<h1>Seus Contatos Cadastrados</h1>
	</header>
	<table class="listaC">
		<thead>
			<tr><th>Nome do Contato</th><th>E-mail</th></tr>
		</thead>
		<tbody>
			<tr><td>Contato 1</td><td>contato1@gmail.com</td></tr>
			<tr><td>Contato 2</td><td>contato2@gmail.com</td></tr>
			<tr><td>Contato 3</td><td>contato3@gmail.com</td></tr>
			<tr><td>Contato 4</td><td>contato4@gmail.com</td></tr>
			<tr><td>Contato 5</td><td>contato5@gmail.com</td></tr>
			<tr><td>Contato 6</td><td>contato6@gmail.com</td></tr>
			<tr><td>Contato 7</td><td>contato7@gmail.com</td></tr>
			<tr><td>Contato 8</td><td>contato8@gmail.com</td></tr>
			<tr><td>Contato 9</td><td>contato9@gmail.com</td></tr>
			<tr><td>Contato 10</td><td>contato10@gmail.com</td></tr>
			<tr><td>Contato 11</td><td>contato11@gmail.com</td></tr>
			<tr><td>Contato 12</td><td>contato12@gmail.com</td></tr>
			<tr><td>Contato 13</td><td>contato13@gmail.com</td></tr>
			<tr><td>Contato 14</td><td>contato14@gmail.com</td></tr>
			<tr><td>Contato 15</td><td>contato15@gmail.com</td></tr>
			<tr><td>Contato 16</td><td>contato16@gmail.com</td></tr>
			<tr><td>Contato 17</td><td>contato17@gmail.com</td></tr>
		</tbody>
	</table>
</body>
</html>