<!DOCTYPE html>
<html>
    <head>
    	<title>Tela Home</title>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    	<h1>Index</h1>
    	<p> Exercício 7.a - UWE </p>
    	<p> Criação de uma aplicação Web em PHP que realize o cadastro de contatos (Nome e email). </p>
    	<br>
    	<p>
    		<a href="lista.html">Lista de Contatos</a>
    	</p>
    	<p>
    		<a href="novo.html">Cadastrar Novo Contato</a>
    	</p>
    	<br>
    	<!--<button type="button">Lista de Contatos</button>
    	<button type="button">Cadastrar Novo Contato</button> -->
    </body>
</html>