<!DOCTYPE html>
<html>
    <head>
    	<title>Tela Lista de Contatos</title>
    	<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Lista</h1>
    	<p> Lista de Contatos! </p>
        <br>
        <p>
            <a href="index.html">Voltar ao Início</a>
        </p>
        <p>
            <a href="novo.html">Cadastrar Novo Contato</a>
        </p>
        <br>
        <div>
            <p> 
                Contato 01 <br>
                Nome: Lucas Grijó <br>
                E-mail: rksgrijo@gmail.com <br>
            </p>
        </div>
    </body>
</html>