<!DOCTYPE html>
<html>
    <head>
    	<title>Tela Cadastrar Contato</title>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    	<h1>Novo</h1>
    	<p> Cadastrar Contato </p>
    	<form action="mensagem.html">
    		<div>
    			<label for="Nome">
                	Nome: <br>
                	<input type="text" id="Nome"><br>
                </label>
                <label for="E-mail">
                    E-mail: <br>
                    <input type="email" id="E-mail" name="email" placeholder="example@gmail.com"> 
                </label>
                <br>
                <input type="submit" value="Cadastrar"> 
    		</div>
    	</form>
    </body>
</html>