body{
	background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/calm-reflective-water-background_bjnehswwh__F0000.png);
}

.link_formulario{
	width:100px;
    height:100px;
	position:absolute;
    top:45%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;

    font-size: xx-large;
}

.link_lista{
	width:100px;
    height:100px;
	position:absolute;
    top:55%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;

    font-size: xx-large;
}

.table{
	width:100px;
    height:100px;
	position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;

    text-align: center;
    border-style: dotted;
    border-color: black;
}

.lista{
	width:100px;
    height:100px;
	position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}

.cadastro_ok{
	width:100px;
    height:100px;
	position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}

.cadastro_fail{
	width:100px;
    height:100px;
	position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}