<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Lista</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link type="text/css" rel=" stylesheet" href="style.css">
	</head>

	<body>
		<table id="t01" style="width:100%">
			<caption>Tabela 1. Meus contatos.</caption>
			<tr>
				<th>Nome completo</th>
				<th>E-mail</th>
				<th>Telefone</th>
			</tr>
			<tr>
				<td>Fulana</td>
				<td>fulana@mail.com</td>
				<td>67 00000-0000</td>
			</tr>
			<tr>
				<td>Beltrano</td>
				<td>beltrano@mail.com</td>
				<td>67 00000-0001</td>
			</tr>
			<tr>
				<td>Ciclana</td>
				<td>ciclana@mail.com</td>
				<td>67 00000-0002</td>
			</tr>
			<tr>
				<td>Fulano</td>
				<td>fulano@mail.com</td>
				<td>67 00000-0003</td>
			</tr>
		</table>
	</body>
</html>