<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Novo</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link type="text/css" rel=" stylesheet" href="style.css">
	</head>

	<body>
		<form>
			<label for="nome">Nome</label>
			<input type="text" id="nome" required placeholder="Nome completo">


			<label for="email">E-mail</label>
			<input type="email" id="email" placeholder="Endereço de e-mail">

			<label for="tel">Telefone</label>
			<input type="tel" id="tel" placeholder="(DDD) xxxxx-xxxx">


			<input type="submit" value="Enviar">
		</form>
	</body>
</html>