body{
	background: #ededed;
	font-family: sans-serif;
	margin: 0 auto;			
}

div#index{	
	width: 20%;
	margin: 20% auto;
	padding: 10px;
	background: white;
	box-shadow: 3px 3px 8px #777777;
}

div#index h1{	
	text-align: center;
	font-size: 16pt;
}

div#index button{
	width: 100%;
	margin-bottom: 20px; 
}

div#index a{	
	text-decoration: none;
}

div#novo form h1{
	text-align: center;
	font-size: 14pt;
}

div#novo form{
	width: 300px;
	margin: 17% auto;
	padding: 20px;
	background: white;			
	box-shadow: 3px 3px 8px #777777;
}

div#novo form input{			
	width: 275px;
	padding: 10px;
}

div#novo form input[type="submit"]{
	margin-top: 25px;
	padding: 10px;
	width: 300px;
}

div#msg div#sucesso, div#erro{
	box-shadow: 3px 3px 10px #777777;
}

div#msg div#sucesso{
	width: 20%;
	margin: 18% auto;
	padding: 10px;
	background: lightgreen;
	text-align: center;
}

div#msg div#erro{
	width: 25%;
	margin: 10% auto;
	padding: 10px;
	background: red;
	text-align: center;
	color: white;
}

div#lista{
	width: 90%;
	margin: 3% auto;
	padding: 10px;
	background: white;
	box-shadow: 3px 3px 10px #777777;
}

div#lista h1{
	font-size: 18pt;
	text-align: left;
}