<!-- 

página com links para cadastro de novo contato e lista de contatos 

-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Cadastro de Usuarios</title>
        <link rel="stylesheet" type="text/css" href="../view/layout.css">
    </head>
    <body>
    	<div class="contenedor">
        	<h1>Cadastro</h1>
       		<p><a href="../view/index.html">Home</a> | <a href="../view/novo.html">Novo</a> | <a href="../view/lista.html">Lista</a>
       		</p>
       	</div>	

    </body>
</html>