<!--  



-->

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Lista de Contatos</title>
        <link rel="stylesheet" type="text/css" href="../view/layout.css">
    </head>
    <body>
        <h1>Lista</h1>
        <p><a href="../view/index.html">Home</a> | <a href="../view/novo.html">Novo </a>

        <table>
            <thead>                
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>Rodrigo</td>
                    <td>rodrigo@gmail.com</td>
                </tr>
                <tr>
                    <td>Emboava</td>
                    <td>emboava@gmail.com</td>
                </tr>
                <tr>
                    <td>Ortiz</td>
                    <td>ortiz@gmail.com</td>
                </tr>
            </thead>
        </table>
        
    </body>
</html>
