<!--



-->

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Cadastrar</title>
        <link rel="stylesheet" type="text/css" href="../view/layout.css">
    </head>
    <body>
        <h1>Cadastrar</h1> 

        <form action="../view/mensagem.html" method="post">
            <p>
                <label for="nome">Nome: </label> 
                <input type="text" id="nome" maxlength="70" placeholder="Nome"/>
            </p>
            <p>
                <label for="email">E-mail:</label> 
                <input type="text" id="email" maxlength="70" placeholder="E-mail"/>
            </p>
            <div class="center">
                <button type="submit">Salvar</button>
            </div>
            
        </form>


    </body>
</html>


