table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	margin-top: 30px; 
}
table#t1 th{
	background-color: #95b3d7;
}
table#t2 th{
	background-color: #d6e3bc;
}
td{
	border: 1px solid #000000;
	padding: 10px;
}
caption{
	font-style: italic;
}