#f01{
	background-color: #d6d6f5; 
}
input[type=submit]{
	background-color: red
	color :white;
	padding: 20px 32px;
	cursor : pointer;
}

input{
    padding: 12px 10px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 2px solid red;
}