<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lista de contato</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div class="master">
            <h3>Lista de contatos</h3>
            <table>
                <caption>Lista de contatos cadastrados</caption>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </table>
            <a href="index.html">Inicio</a>
            <a href="novo.html">Novo contato</a>
        </div>
    </body>
</html>