<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mensagem</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div class="master">
            <div class="sucesso">
                <p>Sucesso ao cadastrar o contato!</p>
            </div>
            <div class="erro">
                <p>Erro ao cadastrar o contato!</p>
            </div>
            <a href="novo.html">Voltar a tela de cadastro</a>
            <a href="index.html">Inicio</a>
        </div>
    </body>
</html>