<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=s, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Novo Contato</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div class="master">
            <h3>Cadastrar novo contato </h3>
            <form action="mensagem.html" method="post">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira seu nome" required><br>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Insira seu email" required><br>
                <input type="submit" value="Cadastrar">

            </form>
            <a href="index.html">Tela inicial</a>
            <a href="lista.html">Lista de contatos</a>
        </div>
    </body>
</html>