body{

	background-image: url("azul_fundo.jpg");

}

input[type=submit]{
        background:#006699;
        color:#ffffff;
        width: 100px;
        height: 20px;
}

.bot{

	position: relative;
	top: 150px;
	left: 700px;
	padding-top: 10px;

}

