<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Lista de Contatos</title>
    <link href="../css/estilo.css" rel="stylesheet" type="text/css">
</head>
<body>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th> 
  </tr>
  <tr>
    <td>Sandys</td>
    <td>sandys@gmail.com</td> 
  </tr>
  <tr>
    <td>José</td>
    <td>jose@gmail.com</td> 
  </tr>
</table>

<br />

<div>

<a href="../view/index.html">Ir para a home</a>
<br /> 


<a href="../view/novo.html">Criar novo Contato</a>
</div>

</body>
</html>